---
import { getEntry } from "astro:content";

import Social from "./Social.astro";
import Debug from "./Debug.astro";

interface Props {
  authorSlug?: string;
}

const SITE_AUTHOR = import.meta.env.SITE_AUTHOR || "sidisinsane";

const { authorSlug = SITE_AUTHOR } = Astro.props;

const authorProfile = await getEntry("authors", authorSlug);
const authorName = authorProfile?.data.name || `@${authorProfile?.data.alias}`;
---

<div class="author-bar">
  <h2 class="author-bar__author">
    <a class="author-bar__link" href={`/authors/${authorSlug}/`} title=""
      >{authorName}</a
    >
  </h2>
  <div class="author-bar__social">
    <Social authorSlug={authorSlug} />
  </div>
</div>

<Debug item={authorProfile} debug={false} />

<style>
  .author-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: calc(var(--gap) / 4);
    row-gap: calc(var(--gap) / 4);
  }

  .author-bar__author {
    flex: 3;
    font-size: 1.3333rem;
    display: flex;
    align-items: center;
    column-gap: calc(var(--gap) / 4);
  }

  .author-bar__social {
    display: grid;
    align-items: center;
  }

  .author-bar__link {
    text-decoration: none;
    transition: color 0.2s var(--ease-1);
  }

  .author-bar__link:hover {
    color: var(--fg-emphasized);
  }
</style>
